<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Fancybox Gallery CSS -->
	<link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox.min.css">
	
    <!-- third party CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="css/photoframe.css">

	<title>Photo Frame</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <span class="navbar-brand">
            <i class="fa fa-file-image-o fa-4">&nbsp;Photo Frame</i>
        </span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        	<span class="navbar-toggler-icon"></span>
      	</button>
        <div class="collapse navbar-collapse w-100" id="navbarCollapse">
        	<ul class="navbar-nav w-100 justify-content-center">
        		<li class="nav-item">
					<a class="nav-link" href="/album">SELECT ALBUM</a>
        		</li>
        	</ul>
	        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        		<li class="nav-item">
					<img width="50" height="50" src=" <%= avatarUrl %>" id="userAvatar" />
        		</li>
        	</ul>
        </div>
    </nav>

	<!-- Loading dialog -->
	<main role="main" class="mainBody container-fluid">
