<% include ../partials/head %>

<% include ../partials/dialogs %>

<div class="row">
    <div class="card-columns" id="albums"></div>
</div>

<% include ../partials/js %>
<script src="/js/album.js"></script>

<% include ../partials/footer %>