<% include ../partials/head %>

<div class="row">
  	<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    	<div class="card card-signin mt-5">
        	<div class="card-body">
            	<h5 class="card-title text-center">Loading photos</h5>
            	<div class="form-group">
            	<div class="input-group">
					<p>
						<span id="images-count">0</span> images loaded.
					</p>
                </div> <!-- input-group.// -->
            	</div> <!-- form-group// -->
            	<div class="form-group">
            		<button class="gp-button btn btn-primary btn-block" id="startSlideshow">Start slideshow</button>
            	</div> <!-- form-group// -->
        	</div>
    	</div>
	</div>
</div>

<div class="row">
	<div style="display:none" id="images-container"></div>
</div>

<% include ../partials/dialogs %>

<% include ../partials/js %>
<script src="/fancybox/jquery.fancybox.min.js"></script>
<script src="/js/frame.js"></script>

<% include ../partials/footer %>