<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    
     <!-- third party CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="css/photoframe.css">

    <title>Photo Frame</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <span class="navbar-brand">
            <i class="fa fa-file-image-o fa-4">&nbsp;Photo Frame</i>
        </span>

    </nav>
		<main role="main" class="mainBody container-fluid">
	      	<div class="row">
	          	<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                	<div class="card card-signin mt-5">
                    	<div class="card-body">
                        	<h5 class="card-title text-center">Login</h5>
                        	<div class="form-group">
                        	<div class="input-group">
                        		<p>Get started by connecting your Google Photos account!</p>
                            </div> <!-- input-group.// -->
                        	</div> <!-- form-group// -->
                        	<div class="form-group">
                        		<button class="gp-button btn btn-primary btn-block" id="login">Connect to Google Photos</button>
                        	</div> <!-- form-group// -->
                    	</div>
                	</div>
            	</div>
        	</div>
		</main>

        <script src="/js/jquery.slim.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#login').on('click', function (e) {
                    // Make the request to the backend to log in.
                    window.location = "/auth/google";
                })
            });
        </script>
</body>

</html>
